<nav class="nav-fixed">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Eat Me</a>
    <ul class="right hide-on-med-and-down">
      {{#if isloggedin}}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/search">Search</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="/" id="login-modal">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register" data-register={{register}}>Register</a>
      </li>
      {{/if}}
    </ul>
  </div>
</nav>

<div class="row fixed margin-top">

  <div class="col s12 m8 offset-m2 l3">
     <ul class="collapsible">
      <li>
        <div class="header" style="background: white; text-align: center"><span>Search for Recipes or by Ingredients!</span></div>
      </li>
      <li class="active">
        <div class="collapsible-header">Recipes</div>
        <div class="collapsible-body" style="background:white">
          <input style="border: 1px solid rgb(236, 144, 147)" placeholder="Search for recipes" type="text" id="recipe-search"></input>
          <button class="btn modal-trigger" data-target="searchmodal" id="recSearchBtn">Search</button>
          </div>
      </li>
      <li>
        <div class="collapsible-header">Ingredients</div>
        <div class="collapsible-body" style="background:white">
          <input style="border: 1px solid rgb(236, 144, 147)" placeholder="Search by ingredients" type="text" id="ingredient-search"></input>
          <button class="btn modal-trigger" data-target="searchmodal" id="ingSearchBtn">Search</button>
        </div>
      </li>
    </ul>

    <div class="card add">
      <div class="card-image">
        <img src="/assets/img/kitchen.jpg" class="add-image">
        <span class="card-title">Add a recipe</span>
        <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
      <div class="card-content">
        <p>Click the button with the "+" above to begin adding your favorite recipes to our site for others to enjoy.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top">
  <div class="recipe-container">
  {{#each recipes}}
  <div class="card col l3 s6">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{mediaLink}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{name}}<i
          class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title summary grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
      <ul>
        <li>Prep Time: {{prepTime}}</li>
        <li>Cook Time: {{cookTime}}</li>
        <li>Difficulty Rating: {{difficulty}}</li>
        <li>Serving Size: {{servingSize}}</li>
        <li>Description: {{summarySection}}</li>
      </ul>
    </div>
    <div class="card-action" id={{id}}>
      <a href="#">Check out the recipe!</a>
    </div>
  </div>
  {{/each}}
  </div>
</div>

{{> nav/footer-block}}

{{> modal/search}}

<script>

  $('.card-action').on('click', function(){
    console.log(this.id)
    window.location = "/recipe/"+(parseInt(this.id)+1);
  });

  $('.btn-floating').on('click', function(){
    window.location = "/createRecipe/";
  });

  $(document).ready(function(){
    $('.collapsible').collapsible();
    $('.modal').modal();

      $('#recSearchBtn').on('click', function(event) {
      event.preventDefault();
      let recSearch = $('#recipe-search').val();
      recSearch = recSearch.split(' ').join('+');
      let apiRecSearch = `?recipe=${recSearch}`
      $('#recipe-search').val('')
      // Ajax Call 
      $.ajax({
        type: 'GET',
        url: `/api/search${apiRecSearch}`,
      }).then((result) => {
        $('#loading').hide()
        
        // Propagate data to modal
        const searchItem = $('#searchitem');
        for(i = 0; i< result.length; i++) {
          let newItem = $('<a>').attr('href', `/recipe/${result[i].id}`).text(`Recipe: ${result[i].name}`);
          let newBreak = $('<br>')
          searchItem.append(newItem, newBreak)
        }
      });
    });

  $('#ingSearchBtn').on('click', function(event) {
    event.preventDefault();
    let ingSearch = $('#ingredient-search').val();
    ingSearch = ingSearch.split(' ').join('+');
    let apiRecSearch = `?ingredient=${ingSearch}`
    $('#ingredient-search').val('')
    //Ajax Call. Toggle search modal with data returned.
    $.ajax({
      type: 'GET',
      url: `/api/search${apiRecSearch}`,
    }).then((result) => {

      $('#loading').hide()
      // Propagate data to modal
      // console.log(result);
      const recipeArray = [];
      for (i = 0; i < result.length; i++) {
        recipeArray.push(result[i].Recipe)
      }
      
      const searchItem = $('#searchitem');

      for(i = 0; i < recipeArray.length; i++){
        let newItem = $('<a>').attr('href', `/recipe/${recipeArray[i].id}`).text(`Recipe: ${recipeArray[i].name}`);
        let newBreak = $('<br>')
        searchItem.append(newItem, newBreak)
        }
      });
      
    });
  });

  $('#closemodal').on('click', function(event) {
    event.preventDefault();
    $('#searchitem').text('');
    $('#loading').show();
  })

  $('.card-action').on( 'click', function () {
    console.log( this.id )
    window.location = "/recipe/" + ( parseInt( this.id ));
  } );
  $( '.btn-floating' ).on( 'click', function () {
    window.location = "/createRecipe/";
  } );

</script>