{{> nav/nav-block}}

<div class="container">
{{#each recipes}}
    <div class="col s12 m7 margin-top">
        <h2 class="header">{{name}}</h2>
        <div class="card horizontal">
            <div class="card-image">
                <img src="{{mediaLink}}" class="recipe-image">
            </div>
            <div class="card-stacked">
            <div class="card-content">
                <p class="prep">Prep Time: {{prepTime}}</p>
                <p>Cook Time: {{cookTime}}</p>
                <p>Difficulty: {{difficulty}}</p>
                <p>Serves {{servingSize}} People</p>
            </div>
            </div>
        </div>
    </div>
{{/each}}


<ul class="collection with-header">
    <li class="collection-header"><h4>Ingredients</h4></li>
    {{#each ingredients}}
    <li class="collection-item color"><div>{{quantity}} {{material}}<a href="#!" class="secondary-content"><i class="material-icons">spa</i></a></div></li>
    {{/each}}
</ul>

{{#each recipes}}

    <p class="color" id="instructions">
        {{instructions}}
    </p>

{{/each}}

<ul class="collection with-header append-instructions">
    <li class="collection-header"><h4>Instructions</h4></li>
</ul>

</div>

{{> nav/footer-block}}

<script>
    $(document).ready(function () {
        $('#instructions').hide()
        if ($('.prep')){
            let text = $('#instructions').text().trim().split("|")
            for(let i=0; i < text.length; i++){
                let instruction = $("<li class='collection-item'><span class='title color'>Step " + (i+1) + ": </span><p class='color' id='instructions'>"+text[i]+"</p></li>")
                console.log(text[0])
                $('.append-instructions').append(instruction)
            }          
        }  
    })
</script>